input.warn-max {
    border: 1px dashed crimson;
}

div.warn-max {
    font-size: small;
    font-weight: bold;
    color: crimson;
}

div.warn-max span {
    font-size: initial;
    text-transform: uppercase;
}
